<label for="emp_id">EmployeeID</label>
<input type="text" id="emp_id"/><br/>
<label for="emp_name">Name</label> 
<input type="text" id="emp_name"/><br/>
<label for="emp_salary">Salary</label>
<input type="number" id="emp_salary"/><br/>
<label for="emp_description">Description</label>
<input type="text" id="emp_description"/><br/>
<label for="emp_age">age</label>
<input type="number" id="emp_age"/><br/>
<button id="submit_employee">Submit Employee Details</button>

<div id="emp_errors">
</div>

<script>
  $('document').ready(function(e){
    $('#uni_auth_token').val(localStorage.getItem('uniliver_x_auth'))
  })

  $('#submit_employee').click((e)=>{
    let employee_id = $('#emp_id').val();
    let employee_name = $('#emp_name').val();
    let employee_salary = $('#emp_salary').val();
    let employee_age = $('#emp_age').val();
    let employee_description  = $('#emp_description').val();
    let data = { employee: {
      emp_id: employee_id,
      name: employee_name,
      salary: employee_salary,
      description: employee_description,
      age: employee_age
    }}
    let unileverAuthToken = localStorage.getItem('uniliver_x_auth')
    $.ajax({
      type: "POST",
      url: '/employees',
      data: data,
      headers: { 'x_auth': unileverAuthToken },
      success: function(response){
        $('#emp_errors').html('')
        if(response['msg'] == 'Successful'){
          alert(response['msg']+'Created Employee')
          $('#emp_id').val('')
          $('#emp_name').val('');
          $('#emp_salary').val('')
          $('#emp_age').val('')
          $('#emp_description').val('')
        }
        else{
          response['errors'].forEach((errorMsg)=>{
            let spanElement = document.createElement('span')
            spanElement.innerText = errorMsg
            let breakElement = document.createElement('br')
            $('#emp_errors').append(spanElement)
            $('#emp_errors').append(breakElement)
          })
          alert(response['errors'].join(','))
        }
      },
      error: function(response, status, xhr) {        
        if(response.status == 401){
          alert(response.statusText)
        }
      }
    })
  })
</script>